.header {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas:
    "menu logo address";
    width: 1052px;
    height: 105px;
    margin-top: 92px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 96px;
}

.header__menu {
    grid-area: menu;
    align-self: center;
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 21.13px;
}

.header__links-list {
    display: flex;
    column-gap: 22px;
    text-wrap: nowrap;
    margin-left: 30px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    grid-area: logo;
    width: 137px;
    height: 105px;
    align-self: center;
    margin-left: 60px;
}

.address {
    grid-area: address;
    justify-self: flex-center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
    font-style: normal;
}

.header__address {
    justify-self: center;
}

.cover {
    background-image: url(../images/cover.jpg);
    width: 1100px;
    height: 757px;
    top: 293px;
    gap: 0px;
}

.overlay {
    background-color: 
    rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: relative;
}

.cover__title {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    width: 1000px;
    height: 355px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    left: 50px;
    bottom: 237px;
    top: 165px;
    }

.aligned-text {
    display: block;
    text-align: left;
}

.aligned-text_center {
    display: block;
    text-align: center;
}

.aligned-text_right {
    display: block;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 50px;
    left: 78px;
    bottom: 51px;
    top: 655px;
}

.cover__description-text {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    word-spacing: 21px;
}

.bet-button {
    font-family: Raleway;
    width: 256px;
    height: 51px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

.lots {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin-top: 179px;
}

.lots__heading {
    text-transform: uppercase;
    margin-left: 62px;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
}

.lots__card-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: 563px;
}

.card {
    width: 334px;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.card-link {
    text-decoration: none;
}

.card__title {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
    position: absolute;
    right: 40px;
    left: 40px;
    top: 51px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px
}

.card__text {
    color: rgba(255, 255, 255, 1);
    text-align: left;
    position: absolute;
    right: 40px;
    left: 40px;
    bottom: 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    text-transform: lowercase;
    margin-left: 62px;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
}

.about {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 148px;
    margin-bottom: 180px;
}

.column__logo {
    width: 100%;
    margin-left: 50px;
    margin-top: 30px;
}

.about__logo {
    background-color: rgba(0, 0, 0, 1);
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.column__text {
    flex-grow: 1;
    margin-top: 100px;
    margin-left: 72px;
}

.about__title {
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    margin-top: 37px;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 693px;
    height: 312px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

.footer {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas:
    "address menu social";
    width: 1000px;
    height: 98px;
    margin-left: 50px;
    margin-bottom: 88px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 21.13px;
}

.footer__social-list {
    display: flex;
    list-style: none;
    width: 240px;
    height: 48px;
    gap: 48px;
    justify-self: flex-end;
}

.footer__social-list-item {
    width: -moz-available;
}